.product-detail-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.product-detail-title {
  font-size: 2em;
  margin-bottom: 20px;
}

.product-detail-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.product-detail-description {
  font-size: 1.1em;
  margin-bottom: 20px;
  color: #666;
  line-height: 1.5;
}

.product-detail-details {
  font-size: 1rem;
  color: #666;
}
